<div class="container">
  <% @items.each do |item| %>
  <% unless item.loaned? || item.dibbs? %>
   <div class= "item-wrapper">
    <ul>
      <div class="item-header">
        <li><%= item.activity %></li>
        <li><%= item.category %></li>
      </div>
      <div class="avatar-name">
        <li><%= image_tag item.avatar_url(:desktop) if item.avatar? %></li>
        <li><%= link_to item.name, edit_item_path(item), method: :get  %></li>
      </div>
      <div class="item-info">
          <li><%= item.description %></li>
          <li><%= "$#{item.value}" %></li>
      </div>
        <div class="item-destroy">
          <li><%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </div>

        <% end %>
      </ul>
    <% end %>
  </div>
</div>
