<% unless user_signed_in? %>
  <%= form_for("user", :url => user_session_path) do |f| %>
    <%= f.label :email %> <br/>
    <%= f.text_field :email , :size=>'15',:maxlength=>'32' %> <br/>
    <%= f.label :password %> <br/>
    <%= f.password_field :password , :size=>'15', :maxlength=>'32' %>
<br/>
    <%= f.submit "Sign in" %> <br />
    <%= link_to "Forgot your password?", new_password_path('user')  %> <br/>
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
  <% else %>
  <% end %>

  <%= render 'nav' %>

  <h1> My Items </h1>
    <%= render 'my_items' %>
  Pending Items:
    <%= render 'pending_items' %>
  Loaned Items:
    <%= render 'loaned_items'  %>


<li><%= link_to "Add Item", new_item_path %></li>


  <%= debug(params) if Rails.env.development? %>
