<%= render 'nav' %>
<%= form_for (@item) do |f| %>
<% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wrapper">
    <div class="new-item form">

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.file_field :avatar %>

      <div class="new-activity">
        <%= f.label :activity %>
        <%  @activities = [ ["Select One", " "], "Art & Music", "Dance Party", "Drinking", "Camping", "Chilling", "Cookout", "Game Night", "Girl's Night", "Guy's Night", "Fitness", "Movie Night", "Night In", "Road Trip", "Studying", "Tailgating", "Other" ] %>
        <%= f.select :activity, @activities %>
      </div>

      <div class="new-category">
        <%= f.label :category %>
        <%  @categories = [ ["Select One", " "], "Accessories", "Books", "Clothes", "Dorm", "Electronics", "Films", "Games", "Gear", "Music", "Sports", "Shoes", "Textbooks", "Outdoors", "Video Games", "Misc" ] %>
        <%= f.select :category, @categories %>
      </div>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.label :value %>
      <%= f.text_field :value %>

      <%= f.submit "Add Item" %>

      <% end %>
    </div>
  </div>


