<%= render 'nav' %>
<%= form_for (@item) do |f| %>
<% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= f.label :name %>
<%= f.text_field :name %>

<%= f.file_field :avatar %>

<%= f.label :activity %>
<%  @activities = [ "Art & Music", "Dance Party", "Drinking", "Camping", "Chilling", "Cookout", "Game Night", "Girl's Night", "Guy's Night", "Fitness", "Movie Night", "Night In", "Road Trip", "Studying", "Tailgating", "Other" ] %>
<%= f.select :activity, @activities %>

<%= f.label :category %>
<%  @categories = ["Accessories", "Books", "Clothes", "Dorm", "Electronics", "Films", "Games", "Gear", "Music", "Sports", "Shoes", "Textbooks", "Outdoors", "Video Games", "Misc" ] %>
<%= f.select :category, @categories %>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.label :value %>
<%= f.text_field :value %>

<%= f.submit "Add Item" %>

<% end %>

<%= debug(params) if Rails.env.development? %>

